__pycache__/
.idea/
doc/todo/todo.md
.pyre/*
chapter2/.pyre/*
chapter2/.pytest_cache/*
ems/*/discord_token
ems/*
ems/*/*
ems/*/*/*
.venv/
.fleet/
.run/
!ems/config.example.yaml
!ems/multiprong
!ems/multiprong/
!ems/multiprong/*
!ems/multiprong/multiprong.chr/*
ems/multiprong/discord_token
ems/multiprong/avatars
ems/multiprong/avatar_changed_at
!ems/arago
!ems/arago/
!ems/arago/*
!ems/arago/arago.chr/*
ems/arago/discord_token
ems/arago/.git/
!ems/simspode
!ems/simspode/
!ems/simspode/*
!ems/simspode/simspode.chr/*
ems/simspode/discord_token
ems/simspode/.git/
prompts/
nohup.out
.DS_Store
**/.DS_Store
