__pycache__/
.idea/
doc/todo.md
.pyre/*
chapter2/.pyre/*
chapter2/.pytest_cache/*
people/vendors.yaml
ems/*/discord_token
ems/*
ems/*/*
ems/*/*/*
.venv/
.fleet/
.run/
!ems/multiprong
!ems/multiprong/
!ems/multiprong/*
!ems/multiprong/multiprong.chr/*
ems/multiprong/discord_token
ems/multiprong/avatars
ems/multiprong/avatar_changed_at
prompts/
nohup.out
