[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
openai = "*"
tiktoken = "*"
more-itertools = "*"
aioitertools = "*"
pyvespa = "*"
nltk = "*"
pyyaml = "*"
embedapi = {path = "./../modules/embedapi"}
intermodel = {path = "./../intermodel"}
python-dotenv = "*"

[dev-packages]
black = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
